/* CSS LAYOUT */
/* **************************************************************** */

header, main, footer{
    display: ;
    justify-content: ;
}
/* HEADER */
/* MAIN */
/* FOOTER */
footer{
    display: bottom;
}
.contacto{
    display: ;
}
.redes_sociales{
    
}